h1, h2, h3, h4 {

    font-family: "Franklin Gothic Medium";

}

p, li {

    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-color: #cb4154; /* brick red */

}

#Header,
#Navigation,
#News,
#Footer {

    background-color: skyblue;
    color: #111;
    border: 10px solid lightblue;

}

#Header {

    width: 400px;
    padding: 20px;
    text-align: center;

}

#Header h1 {

    font-size: 40;
}

#Header .highlight {

    color: goldenrod;

}

#Navigation {

    width: 25%;
    height: auto;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    
}

#Navigation ul {

    padding: 0;
}

#Navigation li {

    list-style: none;
    margin-bottom: 1rem;
    font-size: 26;
    text-transform: uppercase;

}

#Navigation a {

    color: darkblue;
}

#News {

    width: 5in;
    padding: 1in;
}

#News h3 {

    font-size: 16px;
}
#News p {

    font-size: 20px;
}

#Footer {

    font-size: 0.5rem;
    padding: 0.5rem;
}