h1, h2, h3, h4 {

    font-family: "Franklin Gothic Medium";

}

p, li {

    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {

    background-color: #cb4154; /* brick red */
    /* margin-top: 20px; */

}

.content-right {
    
    margin-left: 200px;
    margin-bottom: 12px;


}

#Header,
#Navigation,
#News,
#Footer {

    background-color: skyblue;
    color: #111;
    border: 10px solid lightblue;

}

#Header {

    width: 400px;
    padding: 20px;
    text-align: center;

    margin-top: 24px;
    
    /* position: absolute;
    top: 12px;
    left: 348px; */

}

#Header h1 {

    font-size: 40;
}

#Header .highlight {

    color: goldenrod;

}

#Navigation {

    width: 140px;
    height: auto;
    padding: 12px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    text-align: center;
    float: left;

    position: fixed;
    left: 12px;
    top: 24px;

    /* font-size: 14px; */
    
    
}

#Navigation ul {

    padding: 0;
}

#Navigation li {

    list-style: none;
    margin-bottom: 1rem;
    font-size: 20;
    text-transform: uppercase;

}

#Navigation a {

    color: darkblue;
}

#News {

    width: 4in;
    padding: 22px;

}

#News h3 {

    font-size: 16px;
}
#News p {

    font-size: 20px;
}

#Footer {

    font-size: 0.5rem;
    padding-left: 12px;
    padding-right: 12px;
    width: 800px;

}